@charset "UFT-8";
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{

    --color-branco: #f0f0f0;
    --cor-azul:#8CBEB2;
   
}

body{
    font-family: "Kanit", sans-serif;
    background-color: var(--cor-azul);
}
.header > h1{
    font-weight: 500;
    font-size: 2rem;
    color:white;
}
.texto{
    font-size: 1.2rem;
    font-weight: 500;
}

.caixa{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
}
.caixa_conteudo{
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    background-image: url(img/pattern-background-mobile.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top ;

    background-color:var(--color-branco);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.336);
    width: 330px;
    padding: 4em 0.5em 3em 1.5em;
    border-radius: 6px;
}
.caixa_num{
    width: 160px;
    padding: 0.9em;
    margin-left:1em ;
    border: 0.1em solid rgba(0, 0, 0, 0.356);
    border-radius: 1em;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.048);
}
#fim{
    margin-left: 2em;
}
#passo{
    margin-left: 0.8em
}
.contar{
    align-self: center;
    width: 200px;
    font-size: 1rem;
    font-weight: 600;
    margin: 0;
    background-color: var(--cor-azul);
    color: var(--color-branco);
}
.contar:hover{
    cursor: pointer;
    background-color: var(--color-branco);
    color: var(--cor-azul);
}